@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
 
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
 
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
 
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --neutral0: 0 100% 100%;
    --neutral-foreground: 0 0% 98%;

    --neutral1: 0 0% 96%;
    --neutral-foreground: 0 0% 98%;

    --neutral2: 0 0% 93%;
    --neutral-foreground: 0 0% 98%;

    --neutral3: 0 0% 88%;
    --neutral-foreground: 0 0% 98%;

    --neutral4: 0 0% 74%;
    --neutral-foreground: 0 0% 98%;

    --neutral5: 0 0% 62%;
    --neutral-foreground: 0 0% 98%;

    --neutral6: 0 0% 46%;
    --neutral-foreground: 0 0% 98%;

    --neutral7: 0 0% 38%;
    --neutral-foreground: 0 0% 98%;

    --neutral8: 0 0% 26%;
    --neutral-foreground: 0 0% 98%;

    --neutral9: 0 0% 17%;
    --neutral-foreground: 0 0% 98%;

    --neutral10: 0 2% 14%;
    --neutral-foreground: 0 0% 98%;

    --neutral11: 0 0% 10%;
    --neutral-foreground: 0 0% 98%;

    --red1: 11 79% 95%;
    --red-foreground: 0 0% 98%;

    --red2: 11 80% 83%;
    --red-foreground: 0 0% 98%;

    --red3: 11 80% 75%;
    --red-foreground: 0 0% 98%;

    --red4: 11 80% 63%;
    --red-foreground: 0 0% 98%;

    --red5: 11 81% 56%;
    --red-foreground: 0 0% 98%;

    --red6: 11 100% 45%;
    --red-foreground: 0 0% 98%;

    --red7: 11 100% 41%;
    --red-foreground: 0 0% 98%;

    --red8: 12 100% 32%;
    --red-foreground: 0 0% 98%;

    --red9: 12 100% 25%;
    --red-foreground: 0 0% 98%

    --red10: 11 100% 19%;
    --red-foreground: 0 0% 98%;

    --blue1: 235 100% 96%;
    --blue-foreground: 0 0% 98%;

    --blue2: 236 100% 87%;
    --blue-foreground: 0 0% 98%;

    --blue3: 236 100% 80%;
    --blue-foreground: 0 0% 98%;

    --blue4: 236 100% 71%;
    --blue-foreground: 0 0% 98%;

    --blue5: 236 100% 65%;
    --blue-foreground: 0 0% 98%;

    --blue6: 236 100% 57%;
    --blue-foreground: 0 0% 98%;

    --blue7: 236 81% 52%;
    --blue-foreground: 0 0% 98%;

    --blue8: 236 76% 40%;
    --blue-foreground: 0 0% 98%;

    --blue9: 236 76% 31%;
    --blue-foreground: 0 0% 98%;

    --blue10: 236 75% 24%;
    --blue-foreground: 0 0% 98%;

    --warning1: 46 100% 95%;
    --warning-foreground: 0 0% 98%;

    --warning2: 46 100% 95%;
    --warning-foreground: 0 0% 98%;

    --warning2: 45 100% 85%;
    --Warning-foreground: 0 0% 98%;

    --warning3: 45 100% 78%;
    --warning-foreground: 0 0% 98%;

    --warning4: 45 100% 67%;
    --warning-foreground: 0 0% 98%;

    --warning5: 45 100% 61%;
    --warning-foreground: 0 0% 98%;

    --warning6: 45 100% 51%;
    --warning-foreground: 0 0% 98%;

    --warning7: 45 95% 47%;
    --warning-foreground: 0 0% 98%;

    --warning8: 45 95% 36%;
    --warning-foreground: 0 0% 98%;

    --warning9: 45 94% 28%;
    --warning-foreground: 0 0% 98%;

    --warning10: 45 95% 22%;
    --warning-foreground: 0 0% 98%;

    --error1: 3 90% 96%;
    --error-foreground: 0 0% 98%;

    --error2: 4 91% 87%;
    --error-foreground: 0 0% 98%;

    --error3: 4 90% 81%;
    --error-foreground: 0 0% 98%;

    --error4: 4 90% 72%;
    --error-foreground: 0 0% 98%;

    --error5: 4 89% 67%;
    --error-foreground: 0 0% 98%;

    --error6: 4 90% 58%;
    --error-foreground: 0 0% 98%;

    --error7: 4 72% 53%;
    --error-foreground: 0 0% 98%;

    --error8: 4 64% 41%;
    --error-foreground: 0 0% 98%;

    --error9: 4 63% 32%;
    --error-foreground: 0 0% 98%;

    --error10: 4 63% 25%;
    --error-foreground: 0 0% 98%;

    --info1: 206 91% 95%;
    --info-foreground: 0 0% 98%;

    --info2: 207 89% 86%;
    --info-foreground: 0 0% 98%;

    --info3: 206 89% 79%;
    --info-foreground: 0 0% 98%;

    --info4: 206 90% 69%;
    --info-foreground: 0 0% 98%;

    --info5: 206 89% 63%;
    --info-foreground: 0 0% 98%;

    --info6: 207 90% 54%;
    --info-foreground: 0 0% 98%;

    --info7: 206 76% 49%;
    --info-foreground: 0 0% 98%;

    --info8: 206 77% 38%;
    --info-foreground: 0 0% 98%;

    --info9: 206 76% 30%;
    --info-foreground: 0 0% 98%;

    --info10: 207 76% 23%;
    --info-foreground: 0 0% 98%;

    --success1: 126 38% 95%;
    --success-foreground: 0 0% 98%;

    --success2: 122 38% 84%;
    --success-foreground: 0 0% 98%;

    --success3: 123 38% 77%;
    --success-foreground: 0 0% 98%;

    --success4: 123 38% 66%;
    --success-foreground: 0 0% 98%;

    --success5: 122 38% 59%;
    --success-foreground: 0 0% 98%;

    --success6: 122 39% 49%;
    --success-foreground: 0 0% 98%;

    --success7: 123 39% 45%;
    --success-foreground: 0 0% 98%;

    --success8: 123 39% 35%;
    --success-foreground: 0 0% 98%;

    --success9: 122 39% 27%;
    --success-foreground: 0 0% 98%;

    --success10: 123 40% 21%;
    --success-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
 
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 0 0% 63.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
 
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
 
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
 
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
 
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 0 0% 14.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }  
  
  body {
    @apply bg-background text-foreground;
  }

}

@layer utilities {
  .h1-barlow-d {
    @apply text-9xl font-barlow font-bold tracking-[-1px];
  }

  .h2-barlow-d  {
    @apply text-8xl font-barlow font-bold tracking-[-1px];
  }

  .h3-barlow-d  {
    @apply text-7xl font-barlow font-bold tracking-[-1px];
  }

  .h4-barlow-d  {
    @apply text-6xl font-barlow font-bold tracking-[-1px];
  }

  .h5-barlow-d  {
    @apply text-5xl font-barlow font-bold tracking-[-1px];
  }

  .h6-barlow-d  {
    @apply text-4xl font-barlow font-bold tracking-[-1px];
  }

  .h1-barlow-m {
    @apply text-7xl font-barlow font-bold tracking-[-1px];
  }

  .h2-barlow-m  {
    @apply text-6xl font-barlow font-bold tracking-[-1px];
  }

  .h3-barlow-m  {
    @apply text-5xl font-barlow font-bold tracking-[-1px];
  }

  .h4-barlow-m  {
    @apply text-4xl font-barlow font-bold tracking-[-1px];
  }

  .h5-barlow-m  {
    @apply text-3xl font-barlow font-bold tracking-[-1px];
  }

  .h6-barlow-m  {
    @apply text-2xl font-barlow font-bold tracking-[-1px];
  }

  .h1-lato-d {
    @apply text-6xl font-lato font-bold;
  }

  .h2-lato-d  {
    @apply text-5xl font-lato font-bold;
  }

  .h3-lato-d  {
    @apply text-4xl font-lato font-bold;
  }

  .h4-lato-d  {
    @apply text-3xl font-lato font-bold;
  }

  .h5-lato-d  {
    @apply text-2xl font-lato font-bold;
  }

  .h6-lato-d  {
    @apply text-xl font-lato font-bold;
  }

  .h1-lato-m {
    @apply text-5xl font-lato font-bold;
  }

  .h2-lato-m  {
    @apply text-4xl font-lato font-bold;
  }

  .h3-lato-m  {
    @apply text-3xl font-lato font-bold;
  }

  .h4-lato-m  {
    @apply text-2xl font-lato font-bold;
  }

  .h5-lato-m  {
    @apply text-xl font-lato font-bold;
  }

  .label-lg {
    @apply text-lg font-lato font-bold;
  }

  .label-md {
    @apply text-base font-lato font-bold;
  }

  .label-sm {
    @apply text-md font-lato font-bold;
  }

  .base-lg {
    @apply text-lg font-lato font-normal;
  }

  .base-md {
    @apply text-base font-lato font-normal;
  }

  .base-sm {
    @apply text-md font-lato font-normal;
  }
}